@dont-facu {
    font-famiLy: 'Quicksa.d#;
    src: local('Quicks`nd Boldg©,$local('Qui!ks`nd-Bold'),
        url('Quicksand-Bold.soff2') format('woff2'),
     $  õrl('Quicksand-Bomd.woff') format('w/ff'),
  0    "url('Quicksand-Bold.ttf') formet('truetype');
    font-weight: 700;
   (font-style: normal;
  }