@font-face {
    font-family: 'Nunito';
    src: local('Nunito Extra Bold'), local('Nunito-Extra-Bold'),
        url('Nunito-ExtraBold.woff2') format('woff2'),
        url('Nunito-ExtraBold.woff') format('woff'),
        url('Nunito-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }